.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 34%
    right: 10%

  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 15%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #FF9500 !important

.fas, fa-info
  color: #12263F !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #12263F !important


.color-slyder-f
  background-color: #FFD499 !important

.tarjeta.color-acento-botones--borde 
  background-color: #DAF1F7;
  color: #12263F;
  border: solid 4px #DAF1F7;

.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: $color-acento-contenido !important
  color: #fff

.acordion__accion__btn--a
  background-color: #0CA4CA !important

.acordion__activo
  background-color: #E8E8E8 !important

.tarjeta--azul 
  background-color: #F6F6F6

.color-linea-tiempo-c
  background-color: #EDF0F1 !important

.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  flex: auto;
  border-radius: 50%;
  border: 2px solid $color-acento-botones !important
  background-color: $color-acento-botones !important

.cac 
  color: #FF9500 !important

.cad 
  color: #0CA4CA !important
  
.color-cuadros
  background-color: #546E7A !important

.img-infografica-b__modal 
  background-color: #DEE5E8 !important

.img-infografica-b__modal__contenido div > * 
  color: #12263F !important

.bloque-texto-a.color-secundario
  background-color: #E8E8E8 !important

.color-tar-avatar
  background-color: #E8E8E8 !important

.tarjeta-avatar 
  height: 100%
  position: relative
  padding-top: 75px

.tarjeta--azul 
  background-color: #F6F6F6 !important

.acordion__activo 
  background-color: #E8E8E8 !important

